*{
    background-color: #333;
}
body {

font-family: Arial, sans-serif;
margin: 20px;
color: #ffffff;
}
label {
color: #ffffff;
}
p{
margin-bottom: 1px;
}
button{
margin-top: 20px;
border-color: #ffffff;
background-color: #323131;
color: #ffffff;
} 

h4{
font-size: 25px;
}
table{
width: 100%;
border-collapse: collapse;
}
th,td{
padding: 8px;
text-align: 3px;
}
input{
background-color: #323131;
border-color: #ffffff;
color: white;
}